{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

<form action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_form.as_p }}
    <input class="form-control btn btn-primary" type="submit" value="Сохранить">
</form>

<div class="user_avatar">
    <img src="/media/{{ user.avatar }}" alt="">
</div>

<form action="{% url 'opened_tasks' %}">
    <button class="form-control btn btn-primary" type="submit">На главную</button>
</form>

{% endblock content %}