{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<div class="task">

    <h3 class="page_header text-danger">{{ title }}</h3>

    <form action="{% url 'delete_task' task.pk %}" method="post">
        {% csrf_token %}
        {{ delete_task_form.as_p }}
        <input class="form-control text-danger" type="submit" value="Подтвердить удаление">
    </form>

    <br>

    <form action="{% url 'opened_tasks' %}">
        <button class="form-control text-primary" type="submit">Отмена</button>
    </form>

</div>

{% endblock content %}